BITBUCKET_BASE_URL=https://code.fineres.com
BITBUCKET_TOKEN=replace-with-bitbucket-token

FEISHU_WORKLOG_API=https://feishu-worklog.dev.jdydevelop.com/api/worklogs
FEISHU_WORKLOG_BOARD_URL=https://project.feishu.cn/b2rl2h/meegoPlg/MII_686B6DA98EC9C002_board_f3d5nl
FEISHU_WORKLOG_KEY=replace-with-worklog-key
FEISHU_SPACE_ID=replace-with-space-id
FEISHU_USER_ID=replace-with-user-id
FEISHU_G_WORK_OBJECT_ID=67da6360e9d810fd8008b7a4

CHROME_PATH=
CHROME_PROFILE_DIR=
